 
<settings>
   <category>
    <setting id="escogido" type="text" visible="false" value="]1-Personal" />    
    <setting label="Lista Servere:" id="lista" type="text" visible="true" value="vc8D1kif,D4Lri357,f0yr7fCe,8zuaKNDn,gwx1ABuC,LdkTuNUf,ZYnLUGfu,DckQNx3P,9yzvJ6S4,cbqY4fbM,4gqZZyKA,YTUUs6D2,B33BgYFA,mRbfayh6,1h4wwreY,edc4CJdx" default="vc8D1kif,D4Lri357,f0yr7fCe,8zuaKNDn,gwx1ABuC,LdkTuNUf,ZYnLUGfu,DckQNx3P,9yzvJ6S4,cbqY4fbM,4gqZZyKA,YTUUs6D2,B33BgYFA,mRbfayh6,1h4wwreY,edc4CJdx"/>
    <setting label="Nume Servere:" id="lista_servidores" type="text" visible="true" value="Mercur,Venus,Terra,Marte,Jupiter,Saturn,Uranus,Neptun,Pluto,Andromeda,Cassiopeia,Sunset,Fast,Max,neo,One" default="Mercur,Venus,Terra,Marte,Jupiter,Saturn,Uranus,Neptun,Pluto,Andromeda,Cassiopeia,Sunset,Fast,Max,neo,One"/>
    <setting id="mac2" type="text" visible="false" value="" />
    <setting id="portal2" type="text" visible="false" value="" />
    <setting label="Guardar Favoritos" id="favs" type="bool" visible="true" value="true" />
    <setting label="Canales pr0n:" id="pr0n" type="bool" visible="true" value="true" />
    <setting id="ser" type="text" visible="false" value="" />
   </category>
</settings>
