<settings>
    <category label="FunTvLive">
        <setting id="dinbox_autentificare" type="text" label="Utilizator Dinbox" default="" />
        <setting id="dinbox_parola" type="text" label="Parola Dinbox" default="" option="hidden" />
    </category>
    <category label="DaddyLive 24/7">
        <setting id="daddylive_hide_18plus" type="bool" label="Ascunde canalele 18+ (Player-XX)" default="true" />
        <setting id="daddylive_epg_enabled" type="bool" label="Activeaza EPG (XMLTV) pentru DaddyLive" default="false" />
        <setting id="daddylive_epg_url" type="text" label="URL XMLTV (.xml sau .xml.gz)" default="https://epgshare01.online/epgshare01/epg_ripper_ALL_SOURCES1.xml.gz" />
    </category>
    <category id="__internal__">
        <setting id="dinbox_cached_authkey" type="text" visible="false" />
        <setting id="dinbox_cached_sesskey" type="text" visible="false" />
        <setting id="dinbox_cached_auth_time" type="number" visible="false" />
    </category>
</settings>
