 
<settings>
   <category label="Portal-MAC">
    <setting label="Portal" id="portal" type="text" visible="true" value="" />
    <setting label="MAC" id="mac" type="text" visible="true" value="" />
   </category>
   <category label="Mac Pastebin">
    <setting id="escogido" type="text" visible="false" value="]1-Personal" />    
    <setting label="User Pastebin" id="userp" type="text" visible="true" value="AudioSistem" default="AudioSistem"/>
    <setting id="mac2" type="text" visible="false" value="00:1a:79:6c:43:86" />
    <setting id="portal2" type="text" visible="false" value="http://portal.wag-iptv.de:8080/" />
    <setting label="Guardar Favoritos" id="favs" type="bool" visible="true" value="true" />
    <setting label="Canales pr0n:" id="pr0n" type="bool" visible="true" value="true" />
    <setting id="ser" type="text" visible="false" value="Kg4mJV4Z" />
   </category>
   <category label="Xtream Codes">
    <setting label="Portal" id="portalxc" type="text" visible="true" value="" />
    <setting label="Username" id="usernamexc" type="text" visible="true" value="" />
	<setting label="Password" id="passxc" type="text" visible="true" value="" />
   </category>
   <category label="M3u">
    <setting label="Lista M3u" id="listam3u" type="text" visible="true" value="" />
   </category>
</settings>
