<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- Setari de baza pentru Addon -->
    <category label="General">
        <setting id="tmdb_api_key" type="text" label="TMDB API Key" default=""/>
        <setting id="subtitles_language" type="select" label="Limba Subtitrari" values="Romana|Engleza" default="Romana"/>
        <setting id="verify_links" type="bool" label="Verifică dacă sursele sunt active (încetinește scanarea)" default="false"/>
    </category>

    <!-- Gestionare dinamica a folderului surse -->
    <category label="Surse Active">
        <setting id="helper_manage" type="action" label="Gestioneaza sursele (Activare/Dezactivare)" action="RunPlugin(plugin://plugin.video.cinema_city/?action=manage)"/>
        
        <group label="Informatii">
            <setting type="text" label="Fisierele noi adaugate in folderul 'surse' sunt active implicit." enable="false"/>
        </group>
    </category>
</settings>

