<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- AIOStreams -->
	<category label="AIOStreams">
		<setting label="Results" type="lsep" />
		<setting id="provider.aiostreams" type="bool" label="" default="true" visible="false" />
		<setting id="results.list_format" type="enum" label="Results Format" default="1" values="List|Wide List" />
		<setting id="highlight.type" label="Result Hightlight Type" type="enum" default="1" values="Resolution|Single Color" />
		<setting id="scraper_single_highlight" label="" type="text" default="dodgerblue" visible="false" />
		<setting id="scraper_single_display" label="Single Color Hightlight" type="action" default="[COLOR FF1E90FF]dodgerblue[/COLOR]" action="RunPlugin(plugin://plugin.video.sallts/?mode=color_pick&amp;setting=scraper_single_highlight)" />
		<setting id="scraper_4k_highlight" label="" type="text" default="magenta" visible="false" />
		<setting id="scraper_4k_display" label="4K Color Hightlight" type="action" default="[COLOR FFFF00FF]magenta[/COLOR]" action="RunPlugin(plugin://plugin.video.sallts/?mode=color_pick&amp;setting=scraper_4k_highlight)" />
		<setting id="scraper_1080p_highlight" label="" type="text" default="orange" visible="false"/>
		<setting id="scraper_1080p_display" label="1080p Color Hightlight" type="action" default="[COLOR FFFFA500]orange[/COLOR]" action="RunPlugin(plugin://plugin.video.sallts/?mode=color_pick&amp;setting=scraper_1080p_highlight)" />
		<setting id="scraper_720p_highlight" label="" type="text" default="blue" visible="false" />
		<setting id="scraper_720p_display" label="720p Color Hightlight" type="action" default="[COLOR FF0000FF]blue[/COLOR]" action="RunPlugin(plugin://plugin.video.sallts/?mode=color_pick&amp;setting=scraper_720p_highlight)"/>
		<setting id="scraper_SD_highlight" label="" type="text" default="green" visible="false" />
		<setting id="scraper_SD_display" label="SD Color Hightlight" type="action" default="[COLOR FF008000]green[/COLOR]" action="RunPlugin(plugin://plugin.video.sallts/?mode=color_pick&amp;setting=scraper_SD_highlight)" />
		<setting id="scraping_timeout" type="number" label="Scraping Timeout" default="30" />
		<setting label="Setup" type="lsep" />
		<setting id="aiostreams_instance" type="enum" label="Provider" default="0" values="Kuu-lection|Custom|Viren070|Fortheweak|Midnightignite" enable="true" />
		<setting id="aio_url.0" type="text" label="Url" default="https://aiostreams.stremio.ru" enable="false" visible="eq(-1,0)" />
		<setting id="username.0" type="text" label="Username" default="" visible="eq(-2,0)" />
		<setting id="password.0" type="text" label="Password" default="" visible="eq(-3,0)"/>
		<setting id="aio_url.1" type="text" label="Url" default="" visible="eq(-4,1)" />
		<setting id="username.1" type="text" label="Username" default="" visible="eq(-5,1)" />
		<setting id="password.1" type="text" label="Password" default="" visible="eq(-6,1)"/>
		<setting id="aio_url.2" type="text" label="Url" default="https://aiostreams.viren070.me" enable="false" visible="eq(-7,2)" />
		<setting id="username.2" type="text" label="Username" default="" visible="eq(-8,2)" />
		<setting id="password.2" type="text" label="Password" default="" visible="eq(-9,2)"/>
		<setting id="aio_url.3" type="text" label="Url" default="https://aiostreams.fortheweak.cloud" enable="false" visible="eq(-10,3)" />
		<setting id="username.3" type="text" label="Username" default="" visible="eq(-11,3)" />
		<setting id="password.3" type="text" label="Password" default="" visible="eq(-12,3)"/>
		<setting id="aio_url.4" type="text" label="Url" default="https://aiostreamsfortheweebsstable.midnightignite.me" enable="false" visible="eq(-13,4)" />
		<setting id="username.4" type="text" label="Username" default="" visible="eq(-14,4)" />
		<setting id="password.4" type="text" label="Password" default="" visible="eq(-15,4)"/>
	</category>
	<!-- Provider Accounts -->
	<category label="My Services">
		<!-- Premiumize -->
		<setting label="Premiumize" type="lsep" />
		<setting id="pm.token" label="pm token" type="text" default="" visible="false" />
		<setting id="pm.enabled" label="Enable" type="bool" default="true" visible="!eq(-1,)" />
		<setting id="pm.account_id" label="Customer ID" type="text" default="" enable="false" visible="eq(-1,true)+!eq(-2,)" />
		<setting id="pm.expires" label="Premium Expires Notification (days)" type="slider" default="0" option="int" range="0,1,7" visible="eq(-2,true)+!eq(-3,)" />
		<!-- TorBox-->
		<setting label="TorBox" type="lsep" />
		<setting id="tb.token" label="tb token" type="text" default="" visible="false" />
		<setting id="tb.enabled" label="Enable" type="bool" default="true" visible="!eq(-1,)" />
		<setting id="tb.account_id" label="Customer ID" type="text" default="" enable="false" visible="eq(-1,true)+!eq(-2,)" />
		<setting id="tb.expires" label="Premium Expires Notification (days)" type="slider" default="0" option="int" range="0,1,7" visible="eq(-2,true)+!eq(-3,)" />
		<!-- Real Debrid -->
		<setting label="Real Debrid" type="lsep" />
		<setting id="rd.client_id" type="text" default="" visible="false" />
		<setting id="rd.secret" type="text" default="" visible="false" />
		<setting id="rd.refresh" type="text" default="" visible="false" />
		<setting id="rd.token" label="rd token" type="text" default="" visible="false" />
		<setting id="rd.enabled" label="Enable" type="bool" default="true" visible="!eq(-1,)" />
		<setting id="rd.username" label="Username" type="text" default="" enable="false" visible="eq(-1,true)+!eq(-2,)" />
		<setting id="rd.expires" label="Premium Expires Notification (days)" type="slider" default="0" option="int" range="0,1,7" visible="eq(-2,true)+!eq(-3,)" />
	</category>
	<!-- My Lists -->
	<category label="My Lists">
		<!-- Trakt Calendar -->
		<setting label="Trakt Calendar" type="lsep" />
		<setting id="trakt.calendar_focus_today" label="Set Focus to Today's Date" type="bool" default="true" />
		<setting id="trakt.calendar_sort_order" label="Sort Order" type="enum" default="0" values="Descending|Ascending" />
		<setting id="trakt.calendar_previous_days" label="Show Previous Days" type="number" default="7" />
		<setting id="trakt.calendar_future_days" label="Show Future Days" type="number" default="7" />
		<!-- Trakt Cache -->
		<setting label="Trakt/MDBList Cache" type="lsep" />
		<setting id="trakt.sync_interval" label="Refresh Data from Server every...(mins)" type="slider" default="30" option="int" range="5,5,480" />
		<setting id="trakt.sync_refresh_widgets" label="Attempt to Refresh Widgets After Refresh" type="bool" default="false" />
		<!-- Trakt -->
		<setting label="Trakt" type="lsep" />
		<setting id="trakt.refresh" type="text" default="" visible="false" />
		<setting id="trakt.expires" type="text" default="" visible="false" />
		<setting id="trakt.token" type="text" default="" visible="false" />
		<setting id="trakt_user" label="Username" type="text" default="" enable="false" />
		<setting id="trakt.reverse" label="Reverse Added/Released Sort Direction" type="bool" default="false" />
		<!-- MDBList -->
		<setting label="MDBList" type="lsep" />
		<setting id="mdblist.token" label="API Key" type="text" default="" visible="false" />
		<setting id="mdblist_user" label="Username" type="text" default="" enable="false" />
		<!-- FlickList -->
		<setting label="FlickList" type="lsep" />
		<setting id="flicklist.client_id" type="text" default="" visible="false" />
		<setting id="flicklist.expires" type="text" default="" visible="false" />
		<setting id="flicklist.token" type="text" default="" visible="false" />
		<setting id="flicklist_user" label="Username" type="text" default="" enable="false" />
	</category>
	<!-- General -->
	<category label="General">
		<!-- General -->
		<setting label="General" type="lsep" />
		<setting id="fanart_image" label="Fanart Image" type="image" default="salts_fanart.jpg" />
		<setting id="auto_start_salts" label="Auto Start SALTS when Kodi Starts" type="bool" default="false" />
		<setting id="widget_hide_watched" label="Hide Watched Items in Widgets" type="bool" default="false" />
		<setting id="kodi_menu_cache" label="Enable Kodi Menu Caching" type="bool" default="true" />
		<setting id="rli_fix" label="Enable Reuse Language Invoker Fix" type="bool" default="true" />
		<setting id="salts.max_threads" label="Maximum threads" type="slider" default="100" range="20,10,100" option="int" />
		<!-- Downloads -->
		<setting label="Downloads" type="lsep" />
		<setting id="movie_download_directory" label="Movies Directory" type="folder" default="special://profile/addon_data/plugin.video.sallts/Movies Downloads/" />
		<setting id="tvshow_download_directory" label="TV Shows Directory" type="folder" default="special://profile/addon_data/plugin.video.sallts/TV Show Downloads/" />
		<setting id="premium_download_directory" label="Premium Files Directory" type="folder" default="special://profile/addon_data/plugin.video.sallts/Premium Downloads/" />
		<setting id="image_download_directory" label="Image Files Directory" type="folder" default="special://profile/addon_data/plugin.video.sallts/Image Downloads/" />
		<!-- UTC Time Offset -->
		<setting label="UTC Time Offset" type="lsep" />
		<setting id="datetime.offset" label="UTC (+/-)" type="slider" default="0" option="int" range="-15,1,15" />
		<!-- Hidden -->
		<setting id="database.maintenance.due" type="text" default="0" visible="false" />
		<setting id="reuse_language_invoker" type="text" default="true" visible="false" />
	</category>
	<!-- Next Episodes -->
	<category label="Features">
		<!-- Watched Indicators -->
		<setting label="Watched Indicators" type="lsep" />
		<setting id="trakt_indicators_active" label="trakt_indicators_active" type="text" default="false" visible="false" />
		<setting id="mdbl_indicators_active" label="mdbl_indicators_active" type="text" default="false" visible="false" />
		<setting id="flicklist_indicators_active" label="mdbl_indicators_active" type="text" default="false" visible="false" />
		<setting id="watched_indicators" label="Watched Status Provider" type="enum" default="0" values="SALTS|Trakt|MDBList|FlickList" visible="eq(-3, true)|eq(-2,true)|eq(-1,true)" />
		<setting id="amble.indicators" label="Authorize Trakt/MDBList/FlickList for More options" type="text" enable="false" visible="eq(-4,false)+eq(-3,false)+eq(-2,false)" />
		<setting id="sync_kodi_library_watchstatus" label="Set Watched in Kodi Library when Watched in SALTS" type="bool" default="false" />
		<!-- Content and Sorting -->
		<setting label="Next Episodes" type="lsep" />
		<setting id="nextep.sort_type" label="Sort Type" type="enum" default="0" values="Recently Watched|Airdate|Title" />
		<setting id="nextep.sort_order" label="Sort Order" type="enum" default="0" values="Descending|Ascending" />
		<setting id="nextep.sort_airing_today_to_top" label="Sort Episodes Airing Today to Top" type="bool" default="false" />
		<setting id="nextep.include_airdate" label="Include Airdate in Title" type="bool" default="true" />
		<setting id="nextep.include_unaired" label="Include Unaired Episodes" type="bool" default="true" />
		<!--setting id="nextep.include_unwatched" label="Include Trakt Watchlist" type="bool" default="false" /-->
		<!-- Extras -->
		<setting label="Extras" type="lsep" />
		<setting id="extras.enabled_menus" type="text" default="2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062" visible="false" />
		<setting id="extras.open_action" label="Open SALTS Extras When Selecting..." type="enum" default="0" values="None|Movies|TV Shows|Both" />
		<setting id="extras.manage" label="Enable Content for Extras Lists" type="action" default="[B]Browse...[/B]" action="RunPlugin(plugin://plugin.video.sallts/?mode=extras_lists_choice)" />
		<setting id="extras.enable_scrollbars" label="Enable Scrollbars for Extras Lists" type="bool" default="false" />
		<setting id="extras.exclude_non_acting_roles" label="Exclude Non Acting Roles in Person Results" type="bool" default="true" />
	</category>
	<!-- Navigation -->
	<category label="Navigation">
		<!-- Content -->
		<setting label="Content" type="lsep" />
		<setting id="include_year_in_title" label="Show Release Year in Listings" type="enum" default="0" values="Off|Movies|TV Shows|Both" />
		<setting id="default_all_episodes" label="Flatten TV Show Seasons" type="enum" default="1" values="Never|If Only One Season|Always" />
		<setting id="single_ep_display" label="Single Episode Lists Title Format" type="enum" default="0" values="TITLE: SxE - EPISODE|SxE - EPISODE|EPISODE" />
		<setting id="single_ep_format" label="Single Episode Airdate Format" type="enum" default="2" values="Day-Month-Year|Year-Month-Day|Month-Day-Year" />
		<setting id="paginate.lists" label="Paginate Lists When Possible" type="bool" default="true" />
			<setting id="page_limit" label="Max. Lists items" type="number" default="100" subsetting="true" visible="eq(-1,true)" />
			<setting id="nav_jump" label="Jump To... List Navigation" type="enum" default="0" values="Disable|Page" subsetting="true" visible="eq(-2,true)" />
		<setting id="show_specials" label="Show TV Show Specials When Available" type="bool" default="false" />
		<setting id="use_season_title" label="Use Season Titles When Available" type="bool" default="false" />
		<setting id="show_unaired" label="Include Unaired Episodes" type="bool" default="true" />
		<setting id="thumb_fanart" label="Use Episode Thumbnails For Background When Available" type="bool" default="false" />
		<setting id="show_unaired_watchlist" label="Include Unaired Items in Watchlists" type="bool" default="true" />
		<!-- Sorting -->
		<setting label="Sorting" type="lsep" />
		<setting id="sort.progress" label="In Progress Sort Type" type="enum" default="0" values="Title|Recently Watched" />
		<setting id="sort.watched" label="Watched Sort Type" type="enum" default="0" values="Title|Recently Watched" />
		<setting id="sort.collection" label="Collection Sort Type" type="enum" default="0" values="Title|Date Added|Release Date" />
		<setting id="sort.watchlist" label="Watchlist Sort Type" type="enum" default="0" values="Title|Date Added|Release Date" />
		<setting id="ignore_articles" label="Ignore Articles When Sorting Lists" type="bool" default="true" />
	</category>
	<!-- Playback -->
	<category label="Playback">
		<!-- Playback -->
		<setting label="Movies" type="lsep" />
		<setting id="auto_play_movie" label="Auto Play" type="bool" default="false" visible="false" />
		<setting id="auto_resume_movie" label="Automatically Resume Playback" type="enum" default="0" values="Never|Always" />
		<setting id="stingers.enable" label="Enable Credit Scene Notification (Movie Stingers)" type="bool" default="false" />
			<setting id="stingers.threshold" label="Notification Threshold (Seconds After Start)" type="slider" default="10" option="int" range="10,10,60" subsetting="true" visible="eq(-1,true)" />
		<setting label="Episodes" type="lsep" />
		<setting id="auto_play_episode" label="Auto Play" type="bool" default="false" visible="false" />
		<setting id="autoplay_next_episode" label="Autoplay Next Episode" type="bool" default="false" visible="eq(-1,true)" />
			<setting id="autoplay_next_show_window" label="Show Next Episode Window" type="bool" default="true" subsetting="true" visible="eq(-2,true)+eq(-1,true)" />
			<setting id="autoplay_next_window_timer_method" label="Show Window Based On" type="enum" default="0" values="Time Remaining|Percentage Played" subsetting="true" visible="eq(-3,true)+eq(-2,true)+eq(-1,true)" />
			<setting id="autoplay_next_window_time" label="Show Window Before End (secs)" type="slider" default="20" option="int" range="10,10,120" subsetting="true" visible="eq(-4,true)+eq(-3,true)+eq(-2,true)+eq(-1,0)" />
			<setting id="autoplay_next_window_percentage" label="Show Window Before End (%)" type="slider" default="95" option="int" range="75,1,99" subsetting="true" visible="eq(-5,true)+eq(-4,true)+eq(-3,true)+eq(-2,1)" />
			<setting id="autoplay_next_check_threshold" label="Episodes Watched Before Still Watching Check (0=Off)" type="slider" default="3" option="int" range="0,1,10" subsetting="true" visible="eq(-6,true)+eq(-5,true)" />
		<setting id="auto_resume_episode" label="Automatically Resume Playback" type="enum" default="0" values="Never|Always" />
		<!-- Playback Volume -->
		<setting label="Playback" type="lsep" />
		<setting id="volumecheck.enabled" label="Check Playback Volume Before Start of Playback" type="bool" default="false" />
			<setting id="volumecheck.percent" label="Set Max. Percent Starting Volume (0-100)" type="number" default="50" subsetting="true" visible="eq(-1,true)" />
		<!-- Subtitles -->
		<setting label="Subtitles" type="lsep" />
		<setting id="subtitles.subs_action" label="Download Subtitles Action" type="enum" default="2" values="Auto|Select|Off" />
			<setting id="subtitles.language" label="Subtitle Language" type="select" default="English" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu|Vietnamese" subsetting="true" visible="!eq(-1,2)" />
			<setting id="subtitles.auto_enable" label="Force Enable Local Subs" type="bool" default="true" subsetting="true" visible="!eq(-2,2)" />
	</category>
	<!-- Metadata -->
	<category label="Metadata">
		<!-- Language -->
		<setting label="Language" type="lsep" />
		<setting id="meta_language_display" label="Set Language" type="action" default="English" action="RunPlugin(plugin://plugin.video.sallts/?mode=meta_language_choice)" />
		<setting id="meta_language" label="meta_language" type="text" default="en" visible="false" />
		<!-- RPDB -->
		<setting label="Rating Poster Database" type="lsep" />
		<setting id="rpdb_api_key" label="API Key" type="text" default="" />
		<setting id="rpdb_theme" label="Theme" type="enum" default="0" values="Default|Rounded-Blocks|Blocks" />
			<setting id="get_rpdb_movies" label="Use Poster At Movie Level" type="bool" default="false" subsetting="true" enable="!eq(-2,)" />
			<setting id="get_rpdb_series" label="Use Poster At TV Show Level" type="bool" default="false" subsetting="true" enable="!eq(-3,)" />
		<!-- TMDb -->
		<setting label="TMDb" type="lsep" />
		<setting id="image_resolutions" label="TMDb Image Resolution" type="enum" default="2" values="Low|Medium|High|Original" />
		<setting id="tmdb_api" label="API Key (optional)" type="text" default="7b2b174744f774ba48145e2859bb2e2c" enable="true" option="hidden" />
		<!-- Trakt -->
		<setting id="trakt.client_id" type="text" default="19d4a08f6601d2c5d791d041a9ffadd3ce26c038500070397eb315b74b5a7550" visible="false" />
		<setting id="trakt.client_secret" type="text" default="3ee868bacbf9edba9dd11a1b26b1abe4f5b81d0f0d90bd30ac53e127af08be39" visible="false" />
	</category>
	<!-- Context Menu -->
	<category label="Context Menu">
		<!-- Context Menu Sorting -->
		<setting label="Context Menu Sorting" type="lsep" />
		<setting id="context.options" label="Options..." type="slider" default="1" range="0,1,7" option="int" />
		<setting id="context.extras" label="Extras.../Playback.../Browse..." type="slider" default="2" range="0,1,7" option="int" />
		<setting id="context.trakt" label="Trakt Lists Manager" type="slider" default="3" range="0,1,7" option="int" />
		<setting id="context.mdblist" label="MDBList Manager" type="slider" default="4" range="0,1,7" option="int" />
		<setting id="context.flicklist" label="FlickList Manager" type="slider" default="4" range="0,1,7" option="int" />
		<setting id="context.favorites" label="Favorites Manager" type="slider" default="5" range="0,1,7" option="int" />
		<setting id="context.mark" label="Mark Watched/Unwatched" type="slider" default="6" range="0,1,7" option="int" />
		<setting id="context.exit" label="Exit List" type="slider" default="7" range="0,1,7" option="int" />
	</category>
</settings>

