<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="enable_autosub" type="bool" default="true" label="Activează căutarea automată a subtitrării la Play"/>
        <setting id="check_for_specific" type="bool" default="true" label="Caută o anumită limbă"/>
        <setting id="selected_languagea" type="select" enable="eq(-1,true)" visible="eq(-1,true)" label="Limba principală" default="Romanian" values="Albanian|Arabic|Belarusian|Bosnian (Latin)|Bulgarian|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Estonian|Finnish|French|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Korean|Latvian|Lithuanian|Macedonian|Norwegian|Polish|Portuguese|Romanian|Russian|SerbianLatin|Slovak|Slovenian|Spanish|Swedish|Thai|Turkish|Ukrainian|Vietnamese|Farsi|Malay" />
        <setting id="check_for_specificb" type="bool" default="false" enable="eq(-2,true)" visible="eq(-2,true)" label="Caută încă o limbă"/>
        <setting id="selected_languageb" type="select" enable="eq(-1,true)+eq(-3,true)" visible="eq(-1,true)+eq(-3,true)" label="Limba secundară" default="English" values="Albanian|Arabic|Belarusian|Bosnian (Latin)|Bulgarian|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Estonian|Finnish|French|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Korean|Latvian|Lithuanian|Macedonian|Norwegian|Polish|Portuguese|Romanian|Russian|SerbianLatin|Slovak|Slovenian|Spanish|Swedish|Thai|Turkish|Ukrainian|Vietnamese|Farsi|Malay" />
        <setting id="check_for_external" type="bool" default="true" enable="eq(-4,true)" visible="eq(-4,true)" label="Include și subtitrarea necunoscută Externă"/>
        <setting id="ExcludeTime" type="number" label="Nu căuta pentru durate mai scurte de X minute" default="15"/>   	
        <setting id="ignore_words" type="text" default="theme,Sample" label="Ignoră cuvintele, separate cu virgulă"/>
		<setting id="pause_on_search" type="bool" label="Pune pauză în timpul căutării automate" default="false" />
		<setting id="notify_found" type="bool" label="Notificare: Subtitrare existentă activată" default="false" />
    </category>
    <category label="Excluderi">
        <setting id="ExcludeLiveTV" type="bool" label="Exclude Live TV" default="true"/>
        <setting id="ExcludeHTTP" type="bool" label="Exclude sursele HTTP (recomandat OFF pentru torenți)" default="false"/> 
        
        <setting type="sep"/>
        <!-- EXCLUDERE ADDON 1 -->
        <setting id="ExcludeAddonOption" type="bool" label="Exclude addon (1)" default="false" />
        <setting id="ExcludeAddon" type="text" label="ID Addon 1 (ex: plugin.video.youtube)" default="" visible="eq(-1,true)" enable="eq(-1,true)" />
        
        <!-- EXCLUDERE ADDON 2 (Apare doar daca 1 e activat) -->
        <setting id="ExcludeAddonOption2" type="bool" label="Exclude încă un addon (2)" default="false" visible="eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludeAddon2" type="text" label="ID Addon 2" default="" visible="eq(-1,true)" enable="eq(-1,true)" />

        <!-- EXCLUDERE ADDON 3 (Apare doar daca 2 e activat) -->
        <setting id="ExcludeAddonOption3" type="bool" label="Exclude încă un addon (3)" default="false" visible="eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludeAddon3" type="text" label="ID Addon 3" default="" visible="eq(-1,true)" enable="eq(-1,true)" />

        <setting type="sep"/>

        <!-- EXCLUDERE CALE 1 -->
        <setting id="ExcludePathOption" type="bool" label="Exclude cale" default="false" />
        <setting id="ExcludePath" type="folder" source="video" label="Calea Folderului (și subfoldere)" default="" visible="eq(-1,true)" enable="eq(-1,true)" />
        
        <!-- EXCLUDERE CALE 2 -->
        <setting id="ExcludePathOption2" type="bool" label="Exclude cale" default="false" visible="eq(-2,true)" enable="eq(-2,true)" />
        <setting id="ExcludePath2" type="folder" source="video" label="Calea Folderului (și subfoldere)" default="" visible="eq(-1,true)" enable="eq(-1,true)" />
    </category>
</settings>