<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="country_code" type="text" label="Country Code" default="RO"/>
        <setting id="auto_fullscreen" type="bool" label="Auto-switch to Fullscreen on play" default="true"/>
    </category>
    <category label="API Server Settings">
        <setting id="api_server_selection" type="enum" label="API Server" values="Germany 1 (Default)|Germany 2|Finland 1" default="0"/>
    </category>
</settings>