<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- General -->
	<category label="General">
		<setting label="Red Light uses it's own settings window." type="text" enable="false" />
		<setting label="Open Red Light Settings..." type="action" option="close" action="RunPlugin(plugin://plugin.video.redlight/?mode=open_settings)" />
	</category>
</settings>
