<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<!-- General-0 -->
    <category label="General">
        <setting id="package.folder" label="Choose Module Scraper" type="action" option="close" action="RunPlugin(plugin://script.module.blackscrapers/?action=ScraperChoice)" default="Blackscrapers" />
        <setting type="sep" />
        <setting label="Enable All Providers (for current Module Scraper)" type="action" action="RunPlugin(plugin://script.module.blackscrapers/?action=ToggleProviderAll&amp;setting=true&amp;query=0.2)" option="close"/>
        <setting type="sep" />
        <setting label="Disable All Providers" type="action" action="RunPlugin(plugin://script.module.blackscrapers/?action=toggleAll&amp;setting=false&amp;query=0.4)" option="close"/>
        <setting label="Enable All Providers" type="action" action="RunPlugin(plugin://script.module.blackscrapers/?action=toggleAll&amp;setting=true&amp;query=0.5)" option="close"/>
        <setting label="Disable All Hosters" type="action" action="RunPlugin(plugin://script.module.blackscrapers/?action=toggleAllHosters&amp;setting=false&amp;query=0.6)" option="close" />
        <setting label="Enable All Hosters" type="action" action="RunPlugin(plugin://script.module.blackscrapers/?action=toggleAllHosters&amp;setting=true&amp;query=0.7)" option="close" />
        <setting label="Disable All Foreign Providers" type="action" option="close" action="RunPlugin(plugin://script.module.blackscrapers/?action=toggleAllForeign&amp;setting=false&amp;query=0.8)" />
        <setting label="Enable All Foreign Providers" type="action" option="close" action="RunPlugin(plugin://script.module.blackscrapers/?action=toggleAllForeign&amp;setting=true&amp;query=0.9)" />
        <setting label="Disable All Torrent Providers" type="action" option="close" action="RunPlugin(plugin://script.module.blackscrapers/?action=toggleAllTorrent&amp;setting=false&amp;query=0.10)"/>
        <setting label="Enable All Torrent Providers" type="action" option="close" action="RunPlugin(plugin://script.module.blackscrapers/?action=toggleAllTorrent&amp;setting=true&amp;query=0.11)"/>
        <setting id="write.settings" type="text" label="write settings" default="" visible="false" enable="false" />
    </category>

<!-- Providers/Hosters-1 -->
    <category label="Hosters">
        <setting id="provider.anymovies" type="bool" label="ANYMOVIES    [COLOR dimgrey][I]https://www.downloads-anymovies.co[/I][/COLOR]" default="true" />
        <setting id="url.anymovies" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.bnwmovies" type="bool" label="BNWMOVIES    [COLOR dimgrey][I]https://bnwmovies.com[/I][/COLOR]" default="true" />
        <setting id="url.bnwmovies" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.myvideolink" type="bool" label="MYVIDEOLINK    [COLOR dimgrey][I]https://myvideolinks.org[/I][/COLOR]" default="true" />
        <setting id="url.myvideolink" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.nuvio" type="bool" label="NUVIO" default="true" />
        <setting id="url.nuvio" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.sootio" type="bool" label="SOOTIO" default="true" />
        <setting id="url.sootio" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.telepisodes" type="bool" label="TELEPISODES    [COLOR dimgrey][I]https://telepisodes.org[/I][/COLOR]" default="false" />
        <setting id="url.telepisodes" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.vidsrc" type="bool" label="VIDSRC" default="true" />
        <setting id="url.vidsrc" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.vixsrc" type="bool" label="VIXSRC" default="true" />
        <setting id="url.vixsrc" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.watchseries1" type="bool" label="WATCHSERIES1    [COLOR dimgrey][I]multi[/I][/COLOR]" default="true" />
        <setting id="url.watchseries1" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.webstreamer" type="bool" label="WEBSTREAMER" default="true" />
        <setting id="url.webstreamer" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.xdmovies" type="bool" label="XDMOVIES" default="true" />
        <setting id="url.xdmovies" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
    </category>

<!-- Providers/Debrid-1 -->
    <category label="Premium Hosters">
        <setting id="provider.maxrls" type="bool" label="MAXRLS    [COLOR dimgrey][I]https://max-rls.com[/I][/COLOR]" default="true" />
        <setting id="url.maxrls" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.rapidmoviez" type="bool" label="RAPIDMOVIEZ    [COLOR dimgrey][I]multi[/I][/COLOR]" default="true" />
        <setting id="url.rapidmoviez" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.rlsbb" type="bool" label="RLSBB    [COLOR dimgrey][I]multi[/I][/COLOR]" default="true" />
        <setting id="url.rlsbb" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.scenerls" type="bool" label="SCENERLS    [COLOR dimgrey][I]http://scene-rls.net[/I][/COLOR]" default="true" />
        <setting id="url.scenerls" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
    </category>

<!-- Torrents-3 -->
    <category label="Torrent">
        <setting id="provider.1337x" type="bool" label="1337X    [COLOR dimgrey][I]https://1337x.to[/I][/COLOR]" default="true" />
        <setting id="url.1337x" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.eztv" type="bool" label="EZTV    [COLOR dimgrey][I]multi[/I][/COLOR]" default="true" />
        <setting id="url.eztv" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.glodls" type="bool" label="GLODLS    [COLOR dimgrey][I]https://glodls.to[/I][/COLOR]" default="true" />
        <setting id="url.glodls" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.kickass2" type="bool" label="KICKASS2    [COLOR dimgrey][I]multi[/I][/COLOR]" default="true" />
        <setting id="url.kickass2" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.limetorrents" type="bool" label="LIMETORRENTS    [COLOR dimgrey][I]https://www.limetorrents.fun[/I][/COLOR]" default="true" />
        <setting id="url.limetorrents" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.magnetdl" type="bool" label="MAGNETDL    [COLOR dimgrey][I]https://torrentquest.com[/I][/COLOR]" default="true" />
        <setting id="url.magnetdl" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.piratebay" type="bool" label="PIRATEBAY    [COLOR dimgrey][I]multi[/I][/COLOR]" default="true" />
        <setting id="url.piratebay" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.tordl" type="bool" label="TORDL    [COLOR dimgrey][I]https://www.torrentdownload.info[/I][/COLOR]" default="true" />
        <setting id="url.tordl" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.torrentdownloads" type="bool" label="TORRENTDOWNLOADS    [COLOR dimgrey][I]https://www.torrentdownloads.pro[/I][/COLOR]" default="true" />
        <setting id="url.torrentdownloads" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.torrentio" type="bool" label="TORRENTIO    [COLOR dimgrey][I]https://torrentio.strem.fun[/I][/COLOR]" default="true" />
        <setting id="url.torrentio" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.yts" type="bool" label="YTS    [COLOR dimgrey][I]multi[/I][/COLOR]" default="true" />
        <setting id="url.yts" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
    </category>

<!-- Providers/Foreign-2 -->
    <category label="Foreign">
        <setting type="lsep" label="Greek" />
        <setting id="provider.gr-sub-dub" type="bool" label="GR-SUB-DUB" default="true" />
        <setting id="url.gr-sub-dub" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
        <setting id="provider.xrysoi" type="bool" label="XRYSOI    [COLOR dimgrey][I]https://xrysoi3.space[/I][/COLOR]" default="true" />
        <setting id="url.xrysoi" type="text" label="Custom Domain:" default="" visible="eq(-1,true)" subsetting="true" />
    </category>

<!-- Accounts-4 -->
    <category label="Scraper Accounts">
        <setting id="provider.easynews" type="bool" label="EASYNEWS" default="false" />
        <setting id="easynews.user" type="text" subsetting="true" label="Username" default="" visible="eq(-1,true)" />
        <setting id="easynews.pass" type="text" subsetting="true" label="Password" default="" visible="eq(-2,true)" />
        <setting id="easynews.title.chk" type="bool" subsetting="true" label="Title filter" default="true" visible="eq(-3,true)" />
        <setting type="sep" />
        <setting id="provider.filepursuit" type="bool" label="FILEPURSUIT" default="false" />
        <setting id="filepursuit.text" type="text" subsetting="true" label="Get your free key from: rapidapi.com/azharxes/api/filepursuit" enable="false" visible="eq(-1,true)" />
        <setting id="filepursuit.api" type="text" subsetting="true" label="Filepursuit API key" default="" visible="eq(-2,true)" />
        <setting type="sep" />
        <setting id="provider.furk" type="bool" label="FURK" default="false" />
        <setting id="furk.user_name" type="text" subsetting="true" label="Furk Username" default="" visible="eq(-1,true)" />
        <setting id="furk.user_pass" type="text" subsetting="true" label="Furk Password" option="hidden" default="" visible="eq(-2,true)" />
        <setting id="furk.api" type="text" subsetting="true" label="Furk API Key" default="" visible="eq(-3,true)" />
        <setting id="furk.limit" type="slider" subsetting="true" label="Limit results" default="25" range="5,5,200" option="int" visible="eq(-4,true)" />
        <setting type="sep" />
        <!--
        <setting id="provider.orionoid" type="bool" label="ORIONOID" default="false" />
        <setting id="install.orion" subsetting="true" type="action" label="To use this you must install and configure an add-on: Orion.[CR]    Account required." option="close" action="InstallAddon(script.module.orion)" enable="!System.HasAddon(script.module.orion)" visible="eq(-1,true)"/>
        <setting id="provider.orionoid.settings" subsetting="true" type="action" label="Open Orion module settings" option="close" action="RunPlugin(plugin://script.module.orion?action=dialogSettings)" enable="System.HasAddon(script.module.orion)" visible="eq(-2,true)" />
        <setting id="orionoid.streamtype" subsetting="true" type="enum" label="Stream Type:" values="Hosters|Torrents|All" default="0" enable="System.HasAddon(script.module.orion)" visible="eq(-3,true)" />
        <setting id="orion.extra.info" subsetting="true" type="bool" label="Extra stream info (popularity, age)" default="true" enable="System.HasAddon(script.module.orion)" visible="eq(-4,true)" />
        <setting id="orion.info.filename" subsetting="true" type="bool" label="Extra stream info (filename)" default="false" enable="System.HasAddon(script.module.orion)" visible="eq(-5,true)" />
        <setting type="sep" />
        -->
        <setting id="provider.ororo" type="bool" label="ORORO" default="false" />
        <setting id="ororo.user" type="text" subsetting="true" label="E-mail" default="" visible="eq(-1,true)" />
        <setting id="ororo.pass" type="text" subsetting="true" label="Password" default="" visible="eq(-2,true)" />
    </category>

<!--    <category label="Debug">\-->
<!--        <setting id="addon_debug" type="bool" label="Enable Debug" default="false" />-->
<!--    </category>-->
</settings>
